doctype xml
rss(version="2.0")
  channel
    title= 'ET Routes'
    link= 'http://example.org'
    language= 'en-us'
    description= 'ET Routes'

    each route in routes
      item
        title= route.name
        link= route.url
        description= tweet(route)
        guid= route.url